**Q1**. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [30]:
import pandas as pd

x=pd.Series([4,8,15,16,23,42])
print(x)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

*Q2*. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [31]:
data = [1,2,3,4,5,6,7,8,9,0]
y = pd.Series(data)
print(y)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [32]:
data2 = {
    "Name":[ "Alice", 'Bob' ,"Claire"],

    'Age ':['25', '30', '27',],

    'Gender':[' Female', 'Male', 'Female']
}


pd.DataFrame(data2)

     Name Age    Gender
0   Alice   25   Female
1     Bob   30     Male
2  Claire   27   Female

**Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.**

In pandas, a DataFrame is a two-dimensional labeled data structure that is capable of holding data of different types. It can be thought of as a table or a spreadsheet-like data structure where data is organized in rows and columns. Each column in a DataFrame represents a different variable, and each row represents a different observation or record.

On the other hand, a Series in pandas is a one-dimensional labeled array-like object. It can be considered as a single column of data. A Series can hold data of any type (integer, float, string, etc.) and also has an associated index that labels each element in the Series.

In [33]:
fruit_counts = pd.Series([10, 15, 8, 12], index=['Apple', 'Banana', 'Orange', 'Mango'])
print(fruit_counts)

Apple     10
Banana    15
Orange     8
Mango     12
dtype: int64

In [34]:
data = {'Name': ['John', 'Alice', 'Bob'],
        'Age': [25, 30, 35],
        'Country': ['USA', 'Canada', 'UK']}
df = pd.DataFrame(data)
print(df)

    Name  Age Country
0   John   25     USA
1  Alice   30  Canada
2    Bob   35      UK

**Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?**

Pandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions include:

head() and tail(): These functions allow you to view the first few rows (head()) or the last few rows (tail()) of a DataFrame. They are useful for getting a quick overview of the data.

info(): This function provides a summary of the DataFrame, including the column names, data types, and memory usage. It helps in understanding the structure of the DataFrame.

describe(): This function generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartile values. It provides insights into the distribution of the data.

shape: This attribute returns a tuple representing the dimensions of the DataFrame (number of rows, number of columns). It can be used to check the size of the DataFrame.

isnull() and fillna(): The isnull() function returns a DataFrame of the same shape as the input, where each element is a boolean value indicating whether it is missing or null. The fillna() function allows you to fill missing values in the DataFrame with specified values or strategies, such as filling with a specific value, forward filling, or backward filling.

dropna(): This function is used to drop rows or columns with missing values from the DataFrame. It provides flexibility in handling missing data.

groupby(): This function is used for grouping rows based on one or more columns. It allows you to perform aggregate functions, such as sum, mean, count, etc., on grouped data. It is useful for performing data analysis on subsets of data.

sort_values(): This function sorts the DataFrame based on one or more columns. It allows you to specify the column(s) to sort by and the sorting order (ascending or descending). It is useful for arranging data in a specific order.

Here's an example to demonstrate the usage of one of these functions:

In [35]:
data3 = {'Name': ['John', 'Alice', 'Bob', 'Emily', 'Jack'],
        'Age': [25, None, 35, None, 32],
        'Country': ['USA', 'Canada', None, 'USA', 'Canada']}
df = pd.DataFrame(data3)

# Fill missing values with a specific value
df_filled = df.fillna('Unknown')
print(df_filled)

    Name      Age  Country
0   John     25.0      USA
1  Alice  Unknown   Canada
2    Bob     35.0  Unknown
3  Emily  Unknown      USA
4   Jack     32.0   Canada

**Q6. Which of the following is mutable in nature Series, DataFrame, Panel?**
Among the options provided, both Series and DataFrame in pandas are mutable in nature, while Panel is immutable.

**Q7. Create a DataFrame using multiple Series. Explain with an example.**

In this example, we first create three individual Series: name_series, age_series, and country_series. Each Series represents a column of data: 'Name', 'Age', and 'Country', respectively.

Next, we pass a dictionary to the pd.DataFrame() function, where the keys of the dictionary are the column names, and the values are the corresponding Series. By combining the Series in this way, we create a DataFrame called df with three columns: 'Name', 'Age', and 'Country'.

Finally, we print the DataFrame to see the result. The DataFrame contains the combined data from the individual Series, where each row represents a different person's information.

By using multiple Series to create a DataFrame, you can easily organize and manipulate different sets of data together, which is particularly useful when you have related data that you want to analyze or process as a whole.

In [36]:
# Create the individual Series
name_series = pd.Series(['John', 'Alice', 'Bob'])
age_series = pd.Series([25, 30, 35])
country_series = pd.Series(['USA', 'Canada', 'UK'])

# Create the DataFrame using the Series
df = pd.DataFrame({'Name': name_series, 'Age': age_series, 'Country': country_series})
print(df)

    Name  Age Country
0   John   25     USA
1  Alice   30  Canada
2    Bob   35      UK